@font-face {
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  src: url('../fonts/SharpGroteskDBCyrBook20-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  src: url('../fonts/SharpGroteskDBCyrMedium22-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Thin italic';
  src: url('../fonts/PublicSans-ThinItalic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'SemiBold';
  src: url('../fonts/PublicSans-SemiBold.ttf') format('truetype');
  font-style: normal;
}
